# The bot's nick
$nick="shbot";

# The IRC server
$server="irc.freenode.net";

# The owner's nick. Evalbot will flood this nick with private messages. 
$owner="";

# The passwords for !raw 
$password="";

# The password for nickserv (if registered)
$nickserv="";

# The channels to join
@channels=("#bash", "#evalbot", "#awk", "##sed", "##bash-fr");

# Just leave this
true;
